@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Bebas+Neue&family=Cardo:ital@1&family=Cinzel:wght@500&family=Cormorant+SC:wght@500&family=Dancing+Script:wght@600&family=Emilys+Candy&family=Fasthand&family=Fredoka+One&family=Georama:wght@300&family=Joan&family=Kdam+Thmor+Pro&family=Mina&family=Montserrat:wght@300&family=Nunito:wght@300&family=Nuosu+SIL&family=Odibee+Sans&family=Orbitron:wght@900&family=Oswald&family=Playfair+Display&family=Poppins:ital,wght@1,200&family=Reggae+One&family=Roboto&family=Rowdies&family=Rubik+Glitch&family=Ubuntu:wght@300&display=swap');



*{
    font-family: 'Roboto', sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    position: relative;
}

body::before{
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    background-image: url(pexels-janko-ferlic-590493.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -1;
    opacity: .7;
}

.header{
    text-align: center;
    padding: 2rem;
    background-color: rgb(0, 0, 0);
    color: white;
    border: 1px solid white;
    margin-bottom: 10px;
}

.main_content{
    text-align: center;
    border-radius: 15px;
    background-color: rgb(255, 255, 255);
    width: 50vw;
}

.text_area,.person {
    padding: 1.5rem;
    font-size: 20px;
    font-weight: 900;
}

#new_quote{
    padding: 10px;
    font-size: 20px;
    background-color: black;
    color: white;
    cursor: pointer;
    border: none;
    border-radius: 9px;
    position: relative;
    top: 50px;

}

